<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather-app</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.jpg">
</head>
<body>
    <div class="main-content">
    {{>header}}


    <form action="">
        <input type="text" placeholder="Location" name="address" id="search">
        <input type="submit" value="search" id="btn">
    </form>

    <p class="font-size: 24px" id="successlocation"></p>
    <p id="success"></p>
    <p id="error"></p>

</div>
    {{>footer}}
</body>
    <script src="./js/scripts.js"></script>

</html>